---
import Layout from "../../layouts/Layout.astro";
import { getPostsByTagAndPage } from "../../../lib/notion";
const posts = await getPostsByTagAndPage("movie");
---

<h1>映画ログ</h1>

<ul>
  {posts.map((post) => (
    <li>
      <a href={`/log/${post.slug}`}>{post.title}</a>
    </li>
  ))}
</ul>
