---
import Layout from "../../layouts/Layout.astro";
import { getPostBySlug, getPostsByTagAndPage } from "../../lib/notion";

export async function getStaticPaths() {
  const posts = await getPostsByTagAndPage("experience", 1);

  return posts.map((post) => ({
    params: { slug: post.Slug },
  }));
}

const { slug } = Astro.params;
const post = await getPostBySlug(slug);

if (!post) {
  throw new Error(`Post not found: ${slug}`);
}
---

<Layout title={post.Title}>
  <article>
    <h1>{post.Title}</h1>
  </article>
</Layout>
