---
import Layout from "../../layouts/Layout.astro";
import { getPostsByTagAndPage } from "../../lib/notion";

export async function getStaticPaths() {
  const posts = await getPostsByTagAndPage("experience", 1);

  console.log(
    "log posts:",
    posts.map(p => ({ title: p.title, slug: p.slug }))
  );

  return posts
    .filter((post) => post.slug) // ★ これが超重要
    .map((post) => ({
      params: { slug: post.slug },
      props: { post },
    }));
}

const { post } = Astro.props;
---

<Layout title={post.title}>
  <article>
    <h1>{post.title}</h1>
    <pre>{JSON.stringify(post.content, null, 2)}</pre>
  </article>
</Layout>
