.main header {
  padding: 0 0 20px;
}
.main footer {
  border-top: 1px dashed #888;
  margin: 0 auto;
  padding: 40px 0 0;
}
@media (max-width: 640px) {
  .main footer {
    margin: 0 auto 40px;
  }
}

.post {
  margin: 0 auto 40px;
}
.post footer {
  margin-top: 0.5rem;
  padding: 0;
  border: 0;
}

.imageWrapper {
  text-align: center; /* 子 img を中央寄せ */
  margin: 1rem 0;     /* 上下に余白を追加 */
}

.workImage {
  display: inline-block; /* text-align の中央寄せを効かせる */
  max-width: 100%;       /* コンテナ幅を超えないように */
  height: auto;
}

