---
import { getAllPosts } from '@/lib/notion/client'

const posts = await getAllPosts()
const infoPosts = posts.filter(p => p.PageType === 'info')
---

<h1>Information</h1>

<ul>
  {infoPosts.map((post) => (
    <li>
      <a href={`/${post.Slug}`}>
        {post.Title}
      </a>
    </li>
  ))}
</ul>
