---
import Layout from "../../layouts/Layout.astro";
import { getPostsByTagAndPage } from "../../lib/notion";

export async function getStaticPaths() {
  const posts = await getPostsByTagAndPage("ramblings", 1);

  return posts
    .filter(post => post.Slug)
    .map((post) => ({
      params: { slug: post.Slug },
      props: { post },
    }));
}

const { post } = Astro.props;
---

<Layout title={post.Title}>
  <article>
    <h1>{post.Title}</h1>
    <p>{post.Excerpt}</p>
  </article>
</Layout>
