---
import { getPostsByTagAndPage } from "../../lib/notion";
const posts = await getPostsByTagAndPage("life");
---

<h1>life</h1>

<ul>
  {posts.map((post) => (
    <li>
      <a href={`/life/${post.slug}`}>{post.title}</a>
    </li>
  ))}
</ul>