---
import Layout from "../../layouts/Layout.astro";
import { getPostsByTagAndPage } from "../../lib/notion";

export async function getStaticPaths() {
  const posts = await getPostsByTagAndPage("game", 1);

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.title}>
  <article>
    <h1>{post.title}</h1>

    <!-- デバッグ兼 本文確認用 -->
    <pre>{JSON.stringify(post.content, null, 2)}</pre>
  </article>
</Layout>
