---
import { getPostsByTagAndPage } from "../../lib/notion";

const posts = await getPostsByTagAndPage("GAME", 1);
---

<h1>game</h1>

<ul>
  {posts.map((post) => (
    <li>
      <a href={`/log/${post.Slug}`}>{post.Title}</a>
    </li>
  ))}
</ul>
