---
import Layout from "../../layouts/Layout.astro";
import { getPostsByTagAndPage } from "../../lib/notion";

export async function getStaticPaths() {
  const posts = await getPostsByTagAndPage("tech");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.title}>
  <article>
    <h1>{post.title}</h1>
    <Content content={post.content} />
  </article>
</Layout>